
@{
    ViewBag.Title = "EmployeeForm";
}

<h2>EmployeeForm</h2>
<table>
    <tr>
        <td>Name: </td>
        <td><input id="Name_txt" type="text" /></td>
    </tr>

    <tr>
        <td>Email: </td>
        <td><input id="Email_txt" type="text" /></td>
    </tr>

    <tr>
        <td>Mobile: </td>
        <td><input id="Mobile_txt" type="text" /></td>
    </tr>

    <tr>
        <td></td>
        <td><input id="Save_btn" type="button" value="Save" onclick="INSERT()"/></td>
    </tr>
</table>

<table id="Show_tbl">
    <tr>
        <th>EID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
    </tr>
</table>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        SHOW();
    });
    function INSERT() {
        $.ajax({
            url: 'Employee/EmployeeInsert',
            type: 'post',
            data: {
                A: $("#Name_txt").val(),
                B: $("#Email_txt").val(),
                C: $("#Mobile_txt").val()
            },
            success: function () {
                alert("Saved Successfully!");
                SHOW();
            },
            error: function () {
                alert("Something went wrong!");
            }
        });
    }

    function SHOW() {
        $.ajax({
            url: 'Employee/EmployeeShow',
            type: 'post',
            data: {},
            success: function (data) {
                data = JSON.parse(data); // JSON.parse is a built-in JavaScript function that parses a JSON-formatted string and converts it into a JavaScript object.
                $("#Show_tbl").find("tr:gt(0)").remove(); // removing all the old rows just before filling the table
                for (var i = 0; i < data.length; i++){
                    $("#Show_tbl").append('<tr> <td>' + data[i].EID + '</td> <td>' + data[i].NAME + '</td> <td>' + data[i].EMAIL + '</td> <td>' + data[i].MOBILE + '</td> </tr>');
                }
            },
            error: function () {
                alert("Data not found!");
            }
        });
    }
</script>


